USE [master]
GO
/****** Object:  Database [TanHuyComputer]    Script Date: 4/8/2026 5:55:39 AM ******/
CREATE DATABASE [TanHuyComputer]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TanHuyComputer', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MKT\MSSQL\DATA\TanHuyComputer.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TanHuyComputer_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MKT\MSSQL\DATA\TanHuyComputer_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TanHuyComputer].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TanHuyComputer]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 4/8/2026 5:55:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](150) NOT NULL,
	[slug] [nvarchar](200) NOT NULL,
	[parent_id] [int] NULL,
	[sort_order] [int] NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brands]    Script Date: 4/8/2026 5:55:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brands](
	[brand_id] [int] IDENTITY(1,1) NOT NULL,
	[brand_name] [nvarchar](100) NOT NULL,
	[slug] [nvarchar](150) NOT NULL,
	[logo_url] [nvarchar](500) NULL,
	[is_active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[brand_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 4/8/2026 5:55:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[product_name] [nvarchar](300) NOT NULL,
	[slug] [nvarchar](400) NOT NULL,
	[category_id] [int] NOT NULL,
	[brand_id] [int] NOT NULL,
	[price] [decimal](18, 0) NOT NULL,
	[sale_price] [decimal](18, 0) NULL,
	[stock_quantity] [int] NOT NULL,
	[low_stock_alert] [int] NOT NULL,
	[description] [nvarchar](max) NULL,
	[specifications] [nvarchar](max) NULL,
	[thumbnail_url] [nvarchar](500) NULL,
	[avg_rating] [decimal](3, 2) NOT NULL,
	[total_reviews] [int] NOT NULL,
	[total_sold] [int] NOT NULL,
	[is_featured] [bit] NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ProductOverview]    Script Date: 4/8/2026 5:55:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
--  PHẦN 13 – VIEWS HỮU ÍCH
-- ============================================================

-- Tổng quan sản phẩm (tên, danh mục, thương hiệu, giá, tồn kho)
CREATE VIEW [dbo].[vw_ProductOverview] AS
SELECT
    p.product_id,
    p.product_name,
    c.category_name,
    b.brand_name,
    p.price,
    p.sale_price,
    ISNULL(p.sale_price, p.price) AS effective_price,
    p.stock_quantity,
    p.avg_rating,
    p.total_sold,
    p.is_featured,
    p.is_active
FROM Products p
JOIN Categories c ON p.category_id = c.category_id
JOIN Brands     b ON p.brand_id     = b.brand_id;
GO
/****** Object:  Table [dbo].[PaymentMethods]    Script Date: 4/8/2026 5:55:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentMethods](
	[method_id] [int] IDENTITY(1,1) NOT NULL,
	[method_name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](200) NULL,
	[is_active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[method_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 4/8/2026 5:55:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[order_code] [nvarchar](30) NOT NULL,
	[user_id] [int] NOT NULL,
	[address_id] [int] NULL,
	[method_id] [int] NOT NULL,
	[coupon_id] [int] NULL,
	[subtotal] [decimal](18, 0) NOT NULL,
	[discount_amount] [decimal](18, 0) NOT NULL,
	[shipping_fee] [decimal](18, 0) NOT NULL,
	[total_amount] [decimal](18, 0) NOT NULL,
	[order_status] [nvarchar](30) NOT NULL,
	[payment_status] [nvarchar](30) NOT NULL,
	[note] [nvarchar](500) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 4/8/2026 5:55:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[full_name] [nvarchar](150) NOT NULL,
	[email] [nvarchar](150) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[phone] [nvarchar](20) NULL,
	[avatar_url] [nvarchar](500) NULL,
	[role_id] [int] NOT NULL,
	[is_active] [bit] NOT NULL,
	[email_verified] [bit] NOT NULL,
	[reset_token] [nvarchar](255) NULL,
	[reset_token_exp] [datetime2](7) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_OrderDetail]    Script Date: 4/8/2026 5:55:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Chi tiết đơn hàng kèm thông tin khách & phương thức thanh toán
CREATE VIEW [dbo].[vw_OrderDetail] AS
SELECT
    o.order_id,
    o.order_code,
    u.full_name      AS customer_name,
    u.email          AS customer_email,
    u.phone          AS customer_phone,
    pm.method_name   AS payment_method,
    o.subtotal,
    o.discount_amount,
    o.shipping_fee,
    o.total_amount,
    o.order_status,
    o.payment_status,
    o.created_at
FROM Orders o
JOIN Users          u  ON o.user_id   = u.user_id
JOIN PaymentMethods pm ON o.method_id = pm.method_id;
GO
/****** Object:  View [dbo].[vw_DailyRevenue]    Script Date: 4/8/2026 5:55:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Doanh thu theo ngày
CREATE VIEW [dbo].[vw_DailyRevenue] AS
SELECT
    CAST(created_at AS DATE)    AS sale_date,
    COUNT(*)                    AS total_orders,
    SUM(total_amount)           AS total_revenue
FROM Orders
WHERE order_status = N'Đã giao'
GROUP BY CAST(created_at AS DATE);
GO
/****** Object:  View [dbo].[vw_TopSellingProducts]    Script Date: 4/8/2026 5:55:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Top sản phẩm bán chạy
CREATE VIEW [dbo].[vw_TopSellingProducts] AS
SELECT TOP 10
    p.product_id,
    p.product_name,
    b.brand_name,
    p.total_sold,
    p.avg_rating
FROM Products p
JOIN Brands b ON p.brand_id = b.brand_id
WHERE p.is_active = 1
ORDER BY p.total_sold DESC;
GO
/****** Object:  Table [dbo].[AboutUs]    Script Date: 4/8/2026 5:55:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AboutUs](
	[about_id] [int] IDENTITY(1,1) NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[image_urls] [nvarchar](max) NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[about_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ActivityLogs]    Script Date: 4/8/2026 5:55:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActivityLogs](
	[log_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[action] [nvarchar](300) NOT NULL,
	[target_table] [nvarchar](100) NULL,
	[target_id] [int] NULL,
	[ip_address] [nvarchar](45) NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Banners]    Script Date: 4/8/2026 5:55:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banners](
	[banner_id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](200) NOT NULL,
	[image_url] [nvarchar](500) NOT NULL,
	[link_url] [nvarchar](500) NULL,
	[sort_order] [int] NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[banner_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartItems]    Script Date: 4/8/2026 5:55:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartItems](
	[cart_item_id] [int] IDENTITY(1,1) NOT NULL,
	[cart_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[unit_price] [decimal](18, 0) NOT NULL,
	[added_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cart_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carts]    Script Date: 4/8/2026 5:55:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carts](
	[cart_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[session_id] [nvarchar](100) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cart_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContactRequests]    Script Date: 4/8/2026 5:55:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactRequests](
	[request_id] [int] IDENTITY(1,1) NOT NULL,
	[full_name] [nvarchar](150) NOT NULL,
	[email] [nvarchar](150) NOT NULL,
	[phone] [nvarchar](20) NULL,
	[message] [nvarchar](max) NOT NULL,
	[is_resolved] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[request_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Coupons]    Script Date: 4/8/2026 5:55:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coupons](
	[coupon_id] [int] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](50) NOT NULL,
	[discount_type] [nvarchar](10) NOT NULL,
	[discount_value] [decimal](18, 2) NOT NULL,
	[min_order_value] [decimal](18, 0) NOT NULL,
	[max_discount] [decimal](18, 0) NULL,
	[max_uses] [int] NULL,
	[used_count] [int] NOT NULL,
	[start_date] [date] NULL,
	[end_date] [date] NULL,
	[is_active] [bit] NOT NULL,
	[created_by] [int] NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[coupon_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryLogs]    Script Date: 4/8/2026 5:55:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryLogs](
	[log_id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[change_type] [nvarchar](20) NOT NULL,
	[quantity_change] [int] NOT NULL,
	[quantity_after] [int] NOT NULL,
	[note] [nvarchar](300) NULL,
	[created_by] [int] NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 4/8/2026 5:55:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[order_item_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[product_name] [nvarchar](300) NOT NULL,
	[quantity] [int] NOT NULL,
	[unit_price] [decimal](18, 0) NOT NULL,
	[subtotal] [decimal](18, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[order_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderStatusHistory]    Script Date: 4/8/2026 5:55:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderStatusHistory](
	[history_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[old_status] [nvarchar](30) NULL,
	[new_status] [nvarchar](30) NOT NULL,
	[changed_by] [int] NULL,
	[note] [nvarchar](300) NULL,
	[changed_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[history_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductImages]    Script Date: 4/8/2026 5:55:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImages](
	[image_id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[image_url] [nvarchar](500) NOT NULL,
	[alt_text] [nvarchar](200) NULL,
	[sort_order] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[image_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReturnPolicies]    Script Date: 4/8/2026 5:55:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReturnPolicies](
	[policy_id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](200) NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[return_days] [int] NOT NULL,
	[conditions] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[policy_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 4/8/2026 5:55:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[review_id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[order_id] [int] NULL,
	[rating] [tinyint] NOT NULL,
	[comment] [nvarchar](max) NULL,
	[status] [nvarchar](20) NOT NULL,
	[admin_reply] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[review_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 4/8/2026 5:55:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SiteSettings]    Script Date: 4/8/2026 5:55:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SiteSettings](
	[setting_key] [nvarchar](100) NOT NULL,
	[setting_value] [nvarchar](max) NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[setting_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockNotifications]    Script Date: 4/8/2026 5:55:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockNotifications](
	[notif_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[is_sent] [bit] NOT NULL,
	[sent_at] [datetime2](7) NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[notif_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAddresses]    Script Date: 4/8/2026 5:55:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAddresses](
	[address_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[receiver_name] [nvarchar](150) NOT NULL,
	[phone] [nvarchar](20) NOT NULL,
	[province] [nvarchar](100) NOT NULL,
	[district] [nvarchar](100) NOT NULL,
	[ward] [nvarchar](100) NOT NULL,
	[street_address] [nvarchar](300) NOT NULL,
	[is_default] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[address_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WarrantyPolicies]    Script Date: 4/8/2026 5:55:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WarrantyPolicies](
	[policy_id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NULL,
	[title] [nvarchar](200) NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[warranty_months] [int] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[policy_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wishlists]    Script Date: 4/8/2026 5:55:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wishlists](
	[wishlist_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[wishlist_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AboutUs] ON 

INSERT [dbo].[AboutUs] ([about_id], [content], [image_urls], [updated_at]) VALUES (1, N'TanHuy Computer là cửa hàng chuyên cung cấp Laptop và Phụ Kiện Máy Tính chính hãng tại TP. Hồ Chí Minh. Với hơn 5 năm kinh nghiệm, chúng tôi cam kết mang đến sản phẩm chất lượng, giá cả cạnh tranh và dịch vụ hậu mãi tốt nhất.', N'["/images/about-store.jpg","/images/about-team.jpg"]', CAST(N'2026-04-06T21:31:46.7333333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[AboutUs] OFF
GO
SET IDENTITY_INSERT [dbo].[Banners] ON 

INSERT [dbo].[Banners] ([banner_id], [title], [image_url], [link_url], [sort_order], [is_active], [created_at]) VALUES (1, N'Khuyến mãi Laptop Gaming tháng 4', N'/images/banner-gaming-apr.jpg', N'/laptop-gaming', 1, 1, CAST(N'2026-04-06T21:31:46.7300000' AS DateTime2))
INSERT [dbo].[Banners] ([banner_id], [title], [image_url], [link_url], [sort_order], [is_active], [created_at]) VALUES (2, N'Giảm đến 15% toàn bộ Laptop', N'/images/banner-sale-15pct.jpg', N'/laptop', 2, 1, CAST(N'2026-04-06T21:31:46.7300000' AS DateTime2))
INSERT [dbo].[Banners] ([banner_id], [title], [image_url], [link_url], [sort_order], [is_active], [created_at]) VALUES (3, N'MacBook Pro M3 – Vừa về hàng', N'/images/banner-macbook-m3.jpg', N'/apple-macbook-pro-m3-14', 3, 1, CAST(N'2026-04-06T21:31:46.7300000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Banners] OFF
GO
SET IDENTITY_INSERT [dbo].[Brands] ON 

INSERT [dbo].[Brands] ([brand_id], [brand_name], [slug], [logo_url], [is_active]) VALUES (1, N'ASUS', N'asus', NULL, 1)
INSERT [dbo].[Brands] ([brand_id], [brand_name], [slug], [logo_url], [is_active]) VALUES (2, N'Dell', N'dell', NULL, 1)
INSERT [dbo].[Brands] ([brand_id], [brand_name], [slug], [logo_url], [is_active]) VALUES (3, N'HP', N'hp', NULL, 1)
SET IDENTITY_INSERT [dbo].[Brands] OFF
GO
SET IDENTITY_INSERT [dbo].[CartItems] ON 

INSERT [dbo].[CartItems] ([cart_item_id], [cart_id], [product_id], [quantity], [unit_price], [added_at]) VALUES (1, 1, 1, 1, CAST(29990000 AS Decimal(18, 0)), CAST(N'2026-04-06T21:31:46.7266667' AS DateTime2))
INSERT [dbo].[CartItems] ([cart_item_id], [cart_id], [product_id], [quantity], [unit_price], [added_at]) VALUES (2, 1, 8, 1, CAST(1690000 AS Decimal(18, 0)), CAST(N'2026-04-06T21:31:46.7266667' AS DateTime2))
INSERT [dbo].[CartItems] ([cart_item_id], [cart_id], [product_id], [quantity], [unit_price], [added_at]) VALUES (8, 6, 20, 1, CAST(33999999 AS Decimal(18, 0)), CAST(N'2026-04-07T03:08:13.5900000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[CartItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Carts] ON 

INSERT [dbo].[Carts] ([cart_id], [user_id], [session_id], [created_at], [updated_at]) VALUES (1, 6, NULL, CAST(N'2026-04-06T21:31:46.7266667' AS DateTime2), CAST(N'2026-04-06T21:31:46.7266667' AS DateTime2))
INSERT [dbo].[Carts] ([cart_id], [user_id], [session_id], [created_at], [updated_at]) VALUES (6, 8, NULL, CAST(N'2026-04-06T21:42:36.7466667' AS DateTime2), CAST(N'2026-04-07T03:08:13.5933333' AS DateTime2))
INSERT [dbo].[Carts] ([cart_id], [user_id], [session_id], [created_at], [updated_at]) VALUES (7, 1, NULL, CAST(N'2026-04-07T00:29:07.0000000' AS DateTime2), CAST(N'2026-04-07T00:29:35.1366667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Carts] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([category_id], [category_name], [slug], [parent_id], [sort_order], [is_active], [created_at]) VALUES (1, N'Laptop', N'laptop', NULL, 1, 1, CAST(N'2026-04-06T21:31:46.7200000' AS DateTime2))
INSERT [dbo].[Categories] ([category_id], [category_name], [slug], [parent_id], [sort_order], [is_active], [created_at]) VALUES (2, N'Phụ Kiện Máy Tính', N'phu-kien-may-tinh', NULL, 2, 1, CAST(N'2026-04-06T21:31:46.7200000' AS DateTime2))
INSERT [dbo].[Categories] ([category_id], [category_name], [slug], [parent_id], [sort_order], [is_active], [created_at]) VALUES (3, N'Laptop Gaming', N'laptop-gaming', 1, 1, 1, CAST(N'2026-04-06T21:31:46.7200000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Coupons] ON 

INSERT [dbo].[Coupons] ([coupon_id], [code], [discount_type], [discount_value], [min_order_value], [max_discount], [max_uses], [used_count], [start_date], [end_date], [is_active], [created_by], [created_at]) VALUES (1, N'TANHUY10', N'percent', CAST(10.00 AS Decimal(18, 2)), CAST(5000000 AS Decimal(18, 0)), CAST(500000 AS Decimal(18, 0)), 100, 0, CAST(N'2026-04-06' AS Date), CAST(N'2027-01-01' AS Date), 1, 1, CAST(N'2026-04-06T21:31:46.7233333' AS DateTime2))
INSERT [dbo].[Coupons] ([coupon_id], [code], [discount_type], [discount_value], [min_order_value], [max_discount], [max_uses], [used_count], [start_date], [end_date], [is_active], [created_by], [created_at]) VALUES (2, N'GIAM200K', N'fixed', CAST(200000.00 AS Decimal(18, 2)), CAST(3000000 AS Decimal(18, 0)), NULL, 50, 0, CAST(N'2026-04-06' AS Date), CAST(N'2027-01-01' AS Date), 1, 1, CAST(N'2026-04-06T21:31:46.7233333' AS DateTime2))
INSERT [dbo].[Coupons] ([coupon_id], [code], [discount_type], [discount_value], [min_order_value], [max_discount], [max_uses], [used_count], [start_date], [end_date], [is_active], [created_by], [created_at]) VALUES (3, N'KHAIHANG', N'percent', CAST(15.00 AS Decimal(18, 2)), CAST(10000000 AS Decimal(18, 0)), CAST(1500000 AS Decimal(18, 0)), 30, 0, CAST(N'2026-04-06' AS Date), CAST(N'2027-01-01' AS Date), 1, 1, CAST(N'2026-04-06T21:31:46.7233333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Coupons] OFF
GO
SET IDENTITY_INSERT [dbo].[InventoryLogs] ON 

INSERT [dbo].[InventoryLogs] ([log_id], [product_id], [change_type], [quantity_change], [quantity_after], [note], [created_by], [created_at]) VALUES (1, 1, N'import', 15, 15, N'Nhập kho ban đầu', 1, CAST(N'2026-04-06T21:31:46.7333333' AS DateTime2))
INSERT [dbo].[InventoryLogs] ([log_id], [product_id], [change_type], [quantity_change], [quantity_after], [note], [created_by], [created_at]) VALUES (2, 2, N'import', 10, 10, N'Nhập kho ban đầu', 1, CAST(N'2026-04-06T21:31:46.7333333' AS DateTime2))
INSERT [dbo].[InventoryLogs] ([log_id], [product_id], [change_type], [quantity_change], [quantity_after], [note], [created_by], [created_at]) VALUES (3, 3, N'import', 20, 20, N'Nhập kho ban đầu', 1, CAST(N'2026-04-06T21:31:46.7333333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[InventoryLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderItems] ON 

INSERT [dbo].[OrderItems] ([order_item_id], [order_id], [product_id], [product_name], [quantity], [unit_price], [subtotal]) VALUES (1, 1, 1, N'ASUS ROG Strix G15 2024', 1, CAST(29990000 AS Decimal(18, 0)), CAST(29990000 AS Decimal(18, 0)))
INSERT [dbo].[OrderItems] ([order_item_id], [order_id], [product_id], [product_name], [quantity], [unit_price], [subtotal]) VALUES (2, 2, 2, N'Dell XPS 15 9530', 1, CAST(45990000 AS Decimal(18, 0)), CAST(45990000 AS Decimal(18, 0)))
INSERT [dbo].[OrderItems] ([order_item_id], [order_id], [product_id], [product_name], [quantity], [unit_price], [subtotal]) VALUES (3, 3, 3, N'HP Pavilion 15 2024', 1, CAST(15990000 AS Decimal(18, 0)), CAST(15990000 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[OrderItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([order_id], [order_code], [user_id], [address_id], [method_id], [coupon_id], [subtotal], [discount_amount], [shipping_fee], [total_amount], [order_status], [payment_status], [note], [created_at], [updated_at]) VALUES (1, N'TH-20250401-00001', 6, 1, 1, 1, CAST(29990000 AS Decimal(18, 0)), CAST(500000 AS Decimal(18, 0)), CAST(0 AS Decimal(18, 0)), CAST(29490000 AS Decimal(18, 0)), N'Đã giao', N'Đã thanh toán', N'Giao giờ hành chính', CAST(N'2026-04-06T21:31:46.7266667' AS DateTime2), CAST(N'2026-04-06T21:31:46.7266667' AS DateTime2))
INSERT [dbo].[Orders] ([order_id], [order_code], [user_id], [address_id], [method_id], [coupon_id], [subtotal], [discount_amount], [shipping_fee], [total_amount], [order_status], [payment_status], [note], [created_at], [updated_at]) VALUES (2, N'TH-20250405-00002', 7, 2, 3, NULL, CAST(45990000 AS Decimal(18, 0)), CAST(0 AS Decimal(18, 0)), CAST(0 AS Decimal(18, 0)), CAST(45990000 AS Decimal(18, 0)), N'Vận chuyển', N'Đã thanh toán', NULL, CAST(N'2026-04-06T21:31:46.7266667' AS DateTime2), CAST(N'2026-04-06T21:31:46.7266667' AS DateTime2))
INSERT [dbo].[Orders] ([order_id], [order_code], [user_id], [address_id], [method_id], [coupon_id], [subtotal], [discount_amount], [shipping_fee], [total_amount], [order_status], [payment_status], [note], [created_at], [updated_at]) VALUES (3, N'TH-20250410-00003', 6, 1, 2, 2, CAST(17990000 AS Decimal(18, 0)), CAST(200000 AS Decimal(18, 0)), CAST(0 AS Decimal(18, 0)), CAST(17790000 AS Decimal(18, 0)), N'Xử lý', N'Chưa thanh toán', NULL, CAST(N'2026-04-06T21:31:46.7266667' AS DateTime2), CAST(N'2026-04-06T21:31:46.7266667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderStatusHistory] ON 

INSERT [dbo].[OrderStatusHistory] ([history_id], [order_id], [old_status], [new_status], [changed_by], [note], [changed_at]) VALUES (1, 1, NULL, N'Đặt hàng', 1, N'Khách đặt hàng online', CAST(N'2026-04-06T21:31:46.7300000' AS DateTime2))
INSERT [dbo].[OrderStatusHistory] ([history_id], [order_id], [old_status], [new_status], [changed_by], [note], [changed_at]) VALUES (2, 1, N'Đặt hàng', N'Xử lý', 2, N'Xác nhận đơn hàng', CAST(N'2026-04-06T21:31:46.7300000' AS DateTime2))
INSERT [dbo].[OrderStatusHistory] ([history_id], [order_id], [old_status], [new_status], [changed_by], [note], [changed_at]) VALUES (3, 1, N'Xử lý', N'Vận chuyển', 2, N'Giao cho đơn vị vận chuyển', CAST(N'2026-04-06T21:31:46.7300000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[OrderStatusHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[PaymentMethods] ON 

INSERT [dbo].[PaymentMethods] ([method_id], [method_name], [description], [is_active]) VALUES (1, N'COD', N'Thanh toán khi nhận hàng', 1)
INSERT [dbo].[PaymentMethods] ([method_id], [method_name], [description], [is_active]) VALUES (2, N'Chuyển khoản', N'Chuyển khoản ngân hàng trực tiếp', 1)
INSERT [dbo].[PaymentMethods] ([method_id], [method_name], [description], [is_active]) VALUES (3, N'MoMo', N'Ví điện tử MoMo', 1)
SET IDENTITY_INSERT [dbo].[PaymentMethods] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[ReturnPolicies] ON 

INSERT [dbo].[ReturnPolicies] ([policy_id], [title], [content], [return_days], [conditions], [created_at]) VALUES (1, N'Chính sách đổi trả', N'Khách hàng được đổi trả trong vòng 7 ngày kể từ ngày nhận hàng nếu sản phẩm bị lỗi do nhà sản xuất. Sản phẩm còn nguyên vẹn, đầy đủ phụ kiện, tem nhãn.', 7, N'Sản phẩm còn nguyên seal; Lỗi do nhà sản xuất; Còn đủ hộp và phụ kiện đi kèm', CAST(N'2026-04-06T21:31:46.7333333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[ReturnPolicies] OFF
GO
SET IDENTITY_INSERT [dbo].[Reviews] ON 

INSERT [dbo].[Reviews] ([review_id], [product_id], [user_id], [order_id], [rating], [comment], [status], [admin_reply], [created_at]) VALUES (1, 1, 6, 1, 5, N'Máy chạy mượt, chơi game rất ngon. Đóng gói cẩn thận, giao hàng nhanh!', N'approved', NULL, CAST(N'2026-04-06T21:31:46.7300000' AS DateTime2))
INSERT [dbo].[Reviews] ([review_id], [product_id], [user_id], [order_id], [rating], [comment], [status], [admin_reply], [created_at]) VALUES (2, 2, 7, 2, 4, N'Máy đẹp, màn hình OLED xuất sắc. Giá hơi cao nhưng xứng đáng.', N'approved', NULL, CAST(N'2026-04-06T21:31:46.7300000' AS DateTime2))
INSERT [dbo].[Reviews] ([review_id], [product_id], [user_id], [order_id], [rating], [comment], [status], [admin_reply], [created_at]) VALUES (3, 1, 8, NULL, 5, N'Máy chạy mượt, chơi game rất ngon. Đóng gói cẩn thận, giao hàng nhanh!', N'approved', NULL, CAST(N'2026-04-07T01:58:48.5100000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Reviews] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([role_id], [role_name], [description]) VALUES (1, N'admin', N'Quản trị viên – toàn quyền hệ thống')
INSERT [dbo].[Roles] ([role_id], [role_name], [description]) VALUES (2, N'staff', N'Nhân viên – quản lý đơn hàng và sản phẩm')
INSERT [dbo].[Roles] ([role_id], [role_name], [description]) VALUES (3, N'customer', N'Khách hàng')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
INSERT [dbo].[SiteSettings] ([setting_key], [setting_value], [updated_at]) VALUES (N'seo_description', N'Chuyên cung cấp Laptop, Phụ Kiện Máy Tính chính hãng, giá tốt tại TP.HCM', CAST(N'2026-04-06T21:31:46.7333333' AS DateTime2))
INSERT [dbo].[SiteSettings] ([setting_key], [setting_value], [updated_at]) VALUES (N'seo_title', N'TanHuy Computer – Laptop & Phụ Kiện Chính Hãng', CAST(N'2026-04-06T21:31:46.7333333' AS DateTime2))
INSERT [dbo].[SiteSettings] ([setting_key], [setting_value], [updated_at]) VALUES (N'site_address', N'123 Nguyễn Văn Linh, Quận 7, TP. Hồ Chí Minh', CAST(N'2026-04-06T21:31:46.7333333' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[UserAddresses] ON 

INSERT [dbo].[UserAddresses] ([address_id], [user_id], [receiver_name], [phone], [province], [district], [ward], [street_address], [is_default], [created_at]) VALUES (1, 6, N'Khách Hàng Demo 1', N'0911000001', N'TP. Hồ Chí Minh', N'Quận 1', N'Phường Bến Nghé', N'123 Lê Lợi', 1, CAST(N'2026-04-06T21:31:46.7200000' AS DateTime2))
INSERT [dbo].[UserAddresses] ([address_id], [user_id], [receiver_name], [phone], [province], [district], [ward], [street_address], [is_default], [created_at]) VALUES (2, 7, N'Khách Hàng Demo 2', N'0911000002', N'TP. Hồ Chí Minh', N'Quận 7', N'Phường Tân Phú', N'45 Nguyễn Thị Thập', 1, CAST(N'2026-04-06T21:31:46.7200000' AS DateTime2))
INSERT [dbo].[UserAddresses] ([address_id], [user_id], [receiver_name], [phone], [province], [district], [ward], [street_address], [is_default], [created_at]) VALUES (3, 8, N'', N'0934274421', N'', N'', N'', N'', 1, CAST(N'2026-04-06T21:42:54.8200000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[UserAddresses] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([user_id], [full_name], [email], [password_hash], [phone], [avatar_url], [role_id], [is_active], [email_verified], [reset_token], [reset_token_exp], [created_at], [updated_at]) VALUES (1, N'Nguyễn Tấn Huy', N'huy.admin@tanhuy.vn', N'$2a$11$m8EhO6xgCau1s3mnjskZtee7gOZ/b4RiEDOa/aDuc5K/l18ukEAtq', N'0901111111', NULL, 1, 1, 1, NULL, NULL, CAST(N'2026-04-06T21:31:46.7166667' AS DateTime2), CAST(N'2026-04-06T21:31:46.7166667' AS DateTime2))
INSERT [dbo].[Users] ([user_id], [full_name], [email], [password_hash], [phone], [avatar_url], [role_id], [is_active], [email_verified], [reset_token], [reset_token_exp], [created_at], [updated_at]) VALUES (2, N'Lê Văn Thành', N'thanh@tanhuy.vn', N'$2a$11$m8EhO6xgCau1s3mnjskZtee7gOZ/b4RiEDOa/aDuc5K/l18ukEAtq', N'0902222222', NULL, 2, 1, 1, NULL, NULL, CAST(N'2026-04-06T21:31:46.7166667' AS DateTime2), CAST(N'2026-04-06T21:31:46.7166667' AS DateTime2))
INSERT [dbo].[Users] ([user_id], [full_name], [email], [password_hash], [phone], [avatar_url], [role_id], [is_active], [email_verified], [reset_token], [reset_token_exp], [created_at], [updated_at]) VALUES (3, N'Đinh Vũ Thị Hảo', N'hao@tanhuy.vn', N'$2a$11$m8EhO6xgCau1s3mnjskZtee7gOZ/b4RiEDOa/aDuc5K/l18ukEAtq', N'0903333333', NULL, 2, 1, 1, NULL, NULL, CAST(N'2026-04-06T21:31:46.7166667' AS DateTime2), CAST(N'2026-04-06T21:31:46.7166667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[WarrantyPolicies] ON 

INSERT [dbo].[WarrantyPolicies] ([policy_id], [product_id], [title], [content], [warranty_months], [created_at]) VALUES (1, NULL, N'Chính sách bảo hành chung', N'Tất cả sản phẩm tại TanHuy Computer được bảo hành chính hãng. Laptop bảo hành 12-24 tháng tùy hãng. Phụ kiện bảo hành 6-12 tháng. Bảo hành tại trung tâm ủy quyền hoặc cửa hàng TanHuy.', 12, CAST(N'2026-04-06T21:31:46.7333333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[WarrantyPolicies] OFF
GO
SET IDENTITY_INSERT [dbo].[Wishlists] ON 

INSERT [dbo].[Wishlists] ([wishlist_id], [user_id], [product_id], [created_at]) VALUES (1, 6, 2, CAST(N'2026-04-06T21:31:46.7300000' AS DateTime2))
INSERT [dbo].[Wishlists] ([wishlist_id], [user_id], [product_id], [created_at]) VALUES (2, 6, 4, CAST(N'2026-04-06T21:31:46.7300000' AS DateTime2))
INSERT [dbo].[Wishlists] ([wishlist_id], [user_id], [product_id], [created_at]) VALUES (3, 7, 1, CAST(N'2026-04-06T21:31:46.7300000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Wishlists] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Brands__0C0C3B587289DEAD]    Script Date: 4/8/2026 5:55:40 AM ******/
ALTER TABLE [dbo].[Brands] ADD UNIQUE NONCLUSTERED 
(
	[brand_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Brands__32DD1E4C460B698D]    Script Date: 4/8/2026 5:55:40 AM ******/
ALTER TABLE [dbo].[Brands] ADD UNIQUE NONCLUSTERED 
(
	[slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_CartItem]    Script Date: 4/8/2026 5:55:40 AM ******/
ALTER TABLE [dbo].[CartItems] ADD  CONSTRAINT [UQ_CartItem] UNIQUE NONCLUSTERED 
(
	[cart_id] ASC,
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CartItems_Cart]    Script Date: 4/8/2026 5:55:40 AM ******/
CREATE NONCLUSTERED INDEX [IX_CartItems_Cart] ON [dbo].[CartItems]
(
	[cart_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Categori__32DD1E4CF4B4F310]    Script Date: 4/8/2026 5:55:40 AM ******/
ALTER TABLE [dbo].[Categories] ADD UNIQUE NONCLUSTERED 
(
	[slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Coupons__357D4CF93B2EA73E]    Script Date: 4/8/2026 5:55:40 AM ******/
ALTER TABLE [dbo].[Coupons] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InventoryLogs_Product]    Script Date: 4/8/2026 5:55:40 AM ******/
CREATE NONCLUSTERED INDEX [IX_InventoryLogs_Product] ON [dbo].[InventoryLogs]
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderItems_Order]    Script Date: 4/8/2026 5:55:40 AM ******/
CREATE NONCLUSTERED INDEX [IX_OrderItems_Order] ON [dbo].[OrderItems]
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Orders__99D12D3F44BF06DE]    Script Date: 4/8/2026 5:55:40 AM ******/
ALTER TABLE [dbo].[Orders] ADD UNIQUE NONCLUSTERED 
(
	[order_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Orders_Status]    Script Date: 4/8/2026 5:55:40 AM ******/
CREATE NONCLUSTERED INDEX [IX_Orders_Status] ON [dbo].[Orders]
(
	[order_status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_User]    Script Date: 4/8/2026 5:55:40 AM ******/
CREATE NONCLUSTERED INDEX [IX_Orders_User] ON [dbo].[Orders]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__PaymentM__2DA2FAEE0F57DB80]    Script Date: 4/8/2026 5:55:40 AM ******/
ALTER TABLE [dbo].[PaymentMethods] ADD UNIQUE NONCLUSTERED 
(
	[method_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Products__32DD1E4CF2FAFA80]    Script Date: 4/8/2026 5:55:40 AM ******/
ALTER TABLE [dbo].[Products] ADD UNIQUE NONCLUSTERED 
(
	[slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Products_Brand]    Script Date: 4/8/2026 5:55:40 AM ******/
CREATE NONCLUSTERED INDEX [IX_Products_Brand] ON [dbo].[Products]
(
	[brand_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Products_Category]    Script Date: 4/8/2026 5:55:40 AM ******/
CREATE NONCLUSTERED INDEX [IX_Products_Category] ON [dbo].[Products]
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Products_Featured]    Script Date: 4/8/2026 5:55:40 AM ******/
CREATE NONCLUSTERED INDEX [IX_Products_Featured] ON [dbo].[Products]
(
	[is_featured] ASC
)
WHERE ([is_featured]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Products_Price]    Script Date: 4/8/2026 5:55:40 AM ******/
CREATE NONCLUSTERED INDEX [IX_Products_Price] ON [dbo].[Products]
(
	[price] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Review_User_Product]    Script Date: 4/8/2026 5:55:40 AM ******/
ALTER TABLE [dbo].[Reviews] ADD  CONSTRAINT [UQ_Review_User_Product] UNIQUE NONCLUSTERED 
(
	[user_id] ASC,
	[product_id] ASC,
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reviews_Product]    Script Date: 4/8/2026 5:55:40 AM ******/
CREATE NONCLUSTERED INDEX [IX_Reviews_Product] ON [dbo].[Reviews]
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__783254B1FC46D2EC]    Script Date: 4/8/2026 5:55:40 AM ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[role_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_StockNotif]    Script Date: 4/8/2026 5:55:40 AM ******/
ALTER TABLE [dbo].[StockNotifications] ADD  CONSTRAINT [UQ_StockNotif] UNIQUE NONCLUSTERED 
(
	[user_id] ASC,
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__AB6E6164D4E68BE9]    Script Date: 4/8/2026 5:55:40 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Email]    Script Date: 4/8/2026 5:55:40 AM ******/
CREATE NONCLUSTERED INDEX [IX_Users_Email] ON [dbo].[Users]
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Wishlist]    Script Date: 4/8/2026 5:55:40 AM ******/
ALTER TABLE [dbo].[Wishlists] ADD  CONSTRAINT [UQ_Wishlist] UNIQUE NONCLUSTERED 
(
	[user_id] ASC,
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AboutUs] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[ActivityLogs] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Banners] ADD  DEFAULT ((0)) FOR [sort_order]
GO
ALTER TABLE [dbo].[Banners] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Banners] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Brands] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[CartItems] ADD  DEFAULT (getdate()) FOR [added_at]
GO
ALTER TABLE [dbo].[Carts] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Carts] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT ((0)) FOR [sort_order]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[ContactRequests] ADD  DEFAULT ((0)) FOR [is_resolved]
GO
ALTER TABLE [dbo].[ContactRequests] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Coupons] ADD  DEFAULT ((0)) FOR [min_order_value]
GO
ALTER TABLE [dbo].[Coupons] ADD  DEFAULT ((0)) FOR [used_count]
GO
ALTER TABLE [dbo].[Coupons] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Coupons] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[InventoryLogs] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[OrderItems] ADD  DEFAULT ((0)) FOR [subtotal]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [discount_amount]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [shipping_fee]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (N'Đặt hàng') FOR [order_status]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (N'Chưa thanh toán') FOR [payment_status]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[OrderStatusHistory] ADD  DEFAULT (getdate()) FOR [changed_at]
GO
ALTER TABLE [dbo].[PaymentMethods] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[ProductImages] ADD  DEFAULT ((0)) FOR [sort_order]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [stock_quantity]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((5)) FOR [low_stock_alert]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [avg_rating]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [total_reviews]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [total_sold]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [is_featured]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[ReturnPolicies] ADD  DEFAULT ((7)) FOR [return_days]
GO
ALTER TABLE [dbo].[ReturnPolicies] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[SiteSettings] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[StockNotifications] ADD  DEFAULT ((0)) FOR [is_sent]
GO
ALTER TABLE [dbo].[StockNotifications] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[UserAddresses] ADD  DEFAULT ((0)) FOR [is_default]
GO
ALTER TABLE [dbo].[UserAddresses] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((3)) FOR [role_id]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [email_verified]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[WarrantyPolicies] ADD  DEFAULT ((12)) FOR [warranty_months]
GO
ALTER TABLE [dbo].[WarrantyPolicies] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Wishlists] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[ActivityLogs]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD FOREIGN KEY([cart_id])
REFERENCES [dbo].[Carts] ([cart_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Products] ([product_id])
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD FOREIGN KEY([parent_id])
REFERENCES [dbo].[Categories] ([category_id])
GO
ALTER TABLE [dbo].[Coupons]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[InventoryLogs]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[InventoryLogs]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Products] ([product_id])
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[Orders] ([order_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Products] ([product_id])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([address_id])
REFERENCES [dbo].[UserAddresses] ([address_id])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([coupon_id])
REFERENCES [dbo].[Coupons] ([coupon_id])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([method_id])
REFERENCES [dbo].[PaymentMethods] ([method_id])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[OrderStatusHistory]  WITH CHECK ADD FOREIGN KEY([changed_by])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[OrderStatusHistory]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[Orders] ([order_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductImages]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Products] ([product_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([brand_id])
REFERENCES [dbo].[Brands] ([brand_id])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[Categories] ([category_id])
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Products] ([product_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Review_Order] FOREIGN KEY([order_id])
REFERENCES [dbo].[Orders] ([order_id])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Review_Order]
GO
ALTER TABLE [dbo].[StockNotifications]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Products] ([product_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StockNotifications]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserAddresses]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[Roles] ([role_id])
GO
ALTER TABLE [dbo].[WarrantyPolicies]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Products] ([product_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Wishlists]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Products] ([product_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Wishlists]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD CHECK  (([quantity]>(0)))
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD  CONSTRAINT [CHK_Cart_Owner] CHECK  (([user_id] IS NOT NULL OR [session_id] IS NOT NULL))
GO
ALTER TABLE [dbo].[Carts] CHECK CONSTRAINT [CHK_Cart_Owner]
GO
ALTER TABLE [dbo].[Coupons]  WITH CHECK ADD CHECK  (([discount_type]='fixed' OR [discount_type]='percent'))
GO
ALTER TABLE [dbo].[Coupons]  WITH CHECK ADD CHECK  (([discount_value]>(0)))
GO
ALTER TABLE [dbo].[InventoryLogs]  WITH CHECK ADD CHECK  (([change_type]='cancel_return' OR [change_type]='adjustment' OR [change_type]='export' OR [change_type]='import'))
GO
ALTER TABLE [dbo].[InventoryLogs]  WITH CHECK ADD CHECK  (([quantity_after]>=(0)))
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD CHECK  (([quantity]>(0)))
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD CHECK  (([payment_status]=N'Hoàn tiền' OR [payment_status]=N'Đã thanh toán' OR [payment_status]=N'Chưa thanh toán'))
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD CHECK  (([subtotal]>=(0)))
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD CHECK  (([total_amount]>=(0)))
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD CHECK  (([price]>=(0)))
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD CHECK  (([sale_price]>=(0)))
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD CHECK  (([stock_quantity]>=(0)))
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD CHECK  (([rating]>=(1) AND [rating]<=(5)))
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD CHECK  (([status]='rejected' OR [status]='approved' OR [status]='pending'))
GO
USE [master]
GO
